# R cheat sheet
![](https://www.r-project.org/Rlogo.png)

**ToC**
 - [Basics](#Basics)
   - [Concatenation](#Concatenation)
   - [Numeric operations](#Numeric-operations)
   - [List all variables in memory](#List-all-variables-in-memory)
   - [Getting help](#Getting-help)

## Basics
Concatenation, length of vectors, numeric operations, matrix creation

### Concatenation

In [2]:
x = c(1,2,3,4,5,6) #concatenate to create a vector
x

[1] 1 2 3 4 5 6

In [4]:
length(x)

[1] 6

### Numeric operations
vector 1 + vector 2 is a element by element summation

In [5]:
y = c(8,9,10,11,12,14)
x_y = x+y
x_y

[1]  9 11 13 15 17 20

### List all variables in memory
use `ls()`

In [6]:
ls()

[1] "x"   "x_y" "y"

remove variables using `rm(var_name)`

In [8]:
rm('x_y')
ls()

[1] "x" "y"

### Getting help
use `?symbol` to get help

In [7]:
?ls

### Build a matrix
use `matrix(data, nrow, ncol)` method to build a nd matrix

In [9]:
m1 = matrix(data= x, nrow=2, ncol=3)
m1

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6